.btn-2c:hover {
    box-shadow: 0 7px #ab3c3c;
    top: 3px;
}

.btn-2c {
    border-radius: 9px;
}

.btn-2 {
    box-shadow: 0 9px #ab3c3c;
 }

.button {
	text-decoration: none;
    border: none;
    background: #cb4e4e;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    min-width: 150px;
    padding: 15px 10px;
    display: inline-block;
    margin: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}

.btn-2c:active {
	box-shadow: none;
	top: 8px;
}

.button, #searchPhrase {
   outline: none !important;
}

#searchPhrase {
	width: 30%;
	margin-top: 15px;
	height: 50px;
	border-radius: 8px;
	font-size: 20px;
}

#searchPhrase:focus {
	border-style: solid;
    border-width: 3px 1px 1px 3px;
    border-color: orange;
}